{deps, [
	{'OpenACD', ".*", {git, "http://github.com/OpenACD/OpenACD.git", ""}}
]}.
{sub_dirs, ["rel"]}.
{lib_dirs, ["./contrib/rabbitmq-erlang-client/dist"]}.
{pre_hooks, [
	{'get-deps', "./deps.sh get"},
	{'update-deps', "./deps.sh update"},
	{'delete-deps', "./deps.sh delete"},
	{'compile', "make -C contrib/rabbitmq-erlang-client"}
]}.
{post_hooks, [{compile, "./post_compile.sh"}]}.
{src_dirs, ["contrib/rabbitmq-erlang-client/src"]}.
{erl_opts, [{i, "contrib/rabbitmq-erlang-client/include"}]}.
