{sys, [
       {lib_dirs, ["../deps", "..", "../contrib/rabbitmq-erlang-client/dist"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {rel, "oacd_hop", "1",
        [
         kernel,
         stdlib,
         sasl,
         mnesia,
         crypto,
         public_key,
         'OpenACD',
         oacd_hop
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "oacd_hop"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, mnesia, [{incl_cond, include}]},
       {app, 'OpenACD', [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, public_key, [{incl_cond, include}]},
       {app, amqp_client, [{incl_cond, include}]},
       {app, oacd_hop, [{incl_cond, include}]}
      ]}.

{target_dir, "oacd_hop"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/oacd_hop", "bin/oacd_hop"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
